03. Demo Async Await MVC com WCF/DemoAsyncSis.DemoWeb/Service References/TempWS/TempService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57226/TempService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoAsyncSis.TemperaturaWS" />
  <xs:element name="ObterTemperatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoAsyncSis.TemperaturaWS" minOccurs="0" name="uf" type="q1:UF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterTemperaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoAsyncSis.TemperaturaWS" minOccurs="0" name="ObterTemperaturaResult" nillable="true" type="q2:Temperatura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>