03. Demo Async Await MVC com WCF/DemoAsyncSis.DemoWeb/Service References/CensoWS/CensoDemograficoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoAsyncSis.CensoDemograficoWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoAsyncSis.CensoDemograficoWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UF">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SP" />
      <xs:enumeration value="RJ" />
      <xs:enumeration value="MG" />
      <xs:enumeration value="AM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UF" nillable="true" type="tns:UF" />
  <xs:complexType name="Populacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Qtde" type="xs:int" />
      <xs:element minOccurs="0" name="UF" type="tns:UF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Populacao" nillable="true" type="tns:Populacao" />
</xs:schema>